/*!
Theme Name: Boerderijenfonds Theme
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Custom theme: Boerderijenfonds Theme, developed by
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: boerderijenfonds
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Boerderijenfonds Theme is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*//*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{margin:0.67em 0 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small,.small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}body,button,input,select,optgroup,textarea{color:#404040;font-family:"Asap",sans-serif;font-size:20px;font-size:1.25rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both;font-family:'Sansa Condensed';font-weight:600;margin:0 1rem}h1{font-size:48px;font-size:3rem}h2,h3,h5{color:#c5091d}h3{margin:1rem 0 1rem 1rem}p{margin:1rem 1rem 0 1rem}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}body{background:#fffefc}body.page,body.post{margin:0}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 0;font-family:inherit;font-size:1rem}ul{list-style:disc}ol{list-style:decimal}ol li{margin-bottom:1rem}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:bold}dd{margin:0 1.5em 1.5em}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,0.8);font-size:12px;font-size:.75rem;line-height:1;padding:.6em 1em .4em}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}a{color:#000}a:visited{color:#333}a:hover,a:focus,a:active{color:#c5091d}a:focus{outline:thin dotted}a:hover,a:active{outline:0}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999;background-color:#fffefc}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{left:100%}.main-navigation ul ul a{width:200px;color:#000}.main-navigation ul ul :hover>a,.main-navigation ul ul .focus>a{color:#c5091d}.main-navigation ul ul a:hover,.main-navigation ul ul a.focus{color:#c5091d}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}.main-navigation li{float:left;position:relative;font-family:'Sansa Condensed', sans-serif;font-weight:400;font-size:19.2px;font-size:1.2rem}.main-navigation li .sub-menu li{font-size:19.2px;font-size:1.2rem}.main-navigation a{display:block;text-decoration:none}.main-navigation .current_page_item>a,.main-navigation .current-menu-item>a,.main-navigation .current_page_ancestor>a,.main-navigation .current-menu-ancestor>a{text-decoration:underline}.menu-toggle{display:block;background-color:#fff;border:0 none}.main-navigation.toggled ul{display:block;max-width:400px;position:absolute;background-color:rgba(255,255,255,0.95);top:8rem;right:1rem;padding:1rem;z-index:100}.main-navigation.toggled ul ul{position:initial;box-shadow:none;background-color:transparent}@media screen and (min-width: 43rem){.menu-toggle{display:none}.main-navigation ul{display:block}}@media screen and (min-width: 80em){.main-navigation li{font-size:24px;font-size:1.5rem}}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{float:right;text-align:right;width:50%}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.align-right{float:right;margin-left:1.5rem}.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.sticky{display:block}.post,.page{margin:0 0 1.5em}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}embed,iframe,object{max-width:100%}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}.row{box-sizing:border-box;margin:0 auto;width:100%;display:-webkit-flex;display:-ms-flexbox;display:flex;flex:0 1 auto;flex-direction:row;flex-wrap:wrap}.row.reverse{flex-direction:row-reverse}.row.natural-height{align-items:flex-start}.row.flex-column{flex-direction:column}.col{box-sizing:border-box;flex-grow:1;flex-basis:0;max-width:100%;padding:1rem}.col.reverse{flex-direction:column-reverse}.first{order:-1}.last{order:1}.align-start{align-self:flex-start}.align-end{align-self:flex-end}.align-center{align-self:center}.align-baseline{align-self:baseline}.align-stretch{align-self:stretch}.col-xs{box-sizing:border-box;flex-grow:1;flex-basis:0;max-width:100%;padding:1rem}.col-xs-1{box-sizing:border-box;flex-basis:8.33333%;max-width:8.33333%;padding:1rem}.col-xs-offset-1{margin-left:8.33333%}.col-xs-2{box-sizing:border-box;flex-basis:16.66667%;max-width:16.66667%;padding:1rem}.col-xs-offset-2{margin-left:16.66667%}.col-xs-3{box-sizing:border-box;flex-basis:25%;max-width:25%;padding:1rem}.col-xs-offset-3{margin-left:25%}.col-xs-4{box-sizing:border-box;flex-basis:33.33333%;max-width:33.33333%;padding:1rem}.col-xs-offset-4{margin-left:33.33333%}.col-xs-5{box-sizing:border-box;flex-basis:41.66667%;max-width:41.66667%;padding:1rem}.col-xs-offset-5{margin-left:41.66667%}.col-xs-6{box-sizing:border-box;flex-basis:50%;max-width:50%;padding:1rem}.col-xs-offset-6{margin-left:50%}.col-xs-7{box-sizing:border-box;flex-basis:58.33333%;max-width:58.33333%;padding:1rem}.col-xs-offset-7{margin-left:58.33333%}.col-xs-8{box-sizing:border-box;flex-basis:66.66667%;max-width:66.66667%;padding:1rem}.col-xs-offset-8{margin-left:66.66667%}.col-xs-9{box-sizing:border-box;flex-basis:75%;max-width:75%;padding:1rem}.col-xs-offset-9{margin-left:75%}.col-xs-10{box-sizing:border-box;flex-basis:83.33333%;max-width:83.33333%;padding:1rem}.col-xs-offset-10{margin-left:83.33333%}.col-xs-11{box-sizing:border-box;flex-basis:91.66667%;max-width:91.66667%;padding:1rem}.col-xs-offset-11{margin-left:91.66667%}.col-xs-12{box-sizing:border-box;flex-basis:100%;max-width:100%;padding:1rem}.col-xs-offset-12{margin-left:100%}.row.start-xs{justify-content:flex-start}.row.center-xs{justify-content:center}.row.end-xs{justify-content:flex-end}.row.top-xs{align-items:flex-start}.row.middle-xs{align-items:center}.row.bottom-xs{align-items:flex-end}.row.around-xs{justify-content:space-around}.row.between-xs{justify-content:space-between}.first-xs{order:-1}.last-xs{order:1}@media only screen and (min-width: 41rem){.col-sm{box-sizing:border-box;flex-grow:1;flex-basis:0;max-width:100%;padding:1rem}.col-sm-1{box-sizing:border-box;flex-basis:8.33333%;max-width:8.33333%;padding:1rem}.col-sm-offset-1{margin-left:8.33333%}.col-sm-2{box-sizing:border-box;flex-basis:16.66667%;max-width:16.66667%;padding:1rem}.col-sm-offset-2{margin-left:16.66667%}.col-sm-3{box-sizing:border-box;flex-basis:25%;max-width:25%;padding:1rem}.col-sm-offset-3{margin-left:25%}.col-sm-4{box-sizing:border-box;flex-basis:33.33333%;max-width:33.33333%;padding:1rem}.col-sm-offset-4{margin-left:33.33333%}.col-sm-5{box-sizing:border-box;flex-basis:41.66667%;max-width:41.66667%;padding:1rem}.col-sm-offset-5{margin-left:41.66667%}.col-sm-6{box-sizing:border-box;flex-basis:50%;max-width:50%;padding:1rem}.col-sm-offset-6{margin-left:50%}.col-sm-7{box-sizing:border-box;flex-basis:58.33333%;max-width:58.33333%;padding:1rem}.col-sm-offset-7{margin-left:58.33333%}.col-sm-8{box-sizing:border-box;flex-basis:66.66667%;max-width:66.66667%;padding:1rem}.col-sm-offset-8{margin-left:66.66667%}.col-sm-9{box-sizing:border-box;flex-basis:75%;max-width:75%;padding:1rem}.col-sm-offset-9{margin-left:75%}.col-sm-10{box-sizing:border-box;flex-basis:83.33333%;max-width:83.33333%;padding:1rem}.col-sm-offset-10{margin-left:83.33333%}.col-sm-11{box-sizing:border-box;flex-basis:91.66667%;max-width:91.66667%;padding:1rem}.col-sm-offset-11{margin-left:91.66667%}.col-sm-12{box-sizing:border-box;flex-basis:100%;max-width:100%;padding:1rem}.col-sm-offset-12{margin-left:100%}.row.start-sm{justify-content:flex-start}.row.center-sm{justify-content:center}.row.end-sm{justify-content:flex-end}.row.top-sm{align-items:flex-start}.row.middle-sm{align-items:center}.row.bottom-sm{align-items:flex-end}.row.around-sm{justify-content:space-around}.row.between-sm{justify-content:space-between}.first-sm{order:-1}.last-sm{order:1}}@media only screen and (min-width: 65rem){.col-md{box-sizing:border-box;flex-grow:1;flex-basis:0;max-width:100%;padding:1rem}.col-md-1{box-sizing:border-box;flex-basis:8.33333%;max-width:8.33333%;padding:1rem}.col-md-offset-1{margin-left:8.33333%}.col-md-2{box-sizing:border-box;flex-basis:16.66667%;max-width:16.66667%;padding:1rem}.col-md-offset-2{margin-left:16.66667%}.col-md-3{box-sizing:border-box;flex-basis:25%;max-width:25%;padding:1rem}.col-md-offset-3{margin-left:25%}.col-md-4{box-sizing:border-box;flex-basis:33.33333%;max-width:33.33333%;padding:1rem}.col-md-offset-4{margin-left:33.33333%}.col-md-5{box-sizing:border-box;flex-basis:41.66667%;max-width:41.66667%;padding:1rem}.col-md-offset-5{margin-left:41.66667%}.col-md-6{box-sizing:border-box;flex-basis:50%;max-width:50%;padding:1rem}.col-md-offset-6{margin-left:50%}.col-md-7{box-sizing:border-box;flex-basis:58.33333%;max-width:58.33333%;padding:1rem}.col-md-offset-7{margin-left:58.33333%}.col-md-8{box-sizing:border-box;flex-basis:66.66667%;max-width:66.66667%;padding:1rem}.col-md-offset-8{margin-left:66.66667%}.col-md-9{box-sizing:border-box;flex-basis:75%;max-width:75%;padding:1rem}.col-md-offset-9{margin-left:75%}.col-md-10{box-sizing:border-box;flex-basis:83.33333%;max-width:83.33333%;padding:1rem}.col-md-offset-10{margin-left:83.33333%}.col-md-11{box-sizing:border-box;flex-basis:91.66667%;max-width:91.66667%;padding:1rem}.col-md-offset-11{margin-left:91.66667%}.col-md-12{box-sizing:border-box;flex-basis:100%;max-width:100%;padding:1rem}.col-md-offset-12{margin-left:100%}.row.start-md{justify-content:flex-start}.row.center-md{justify-content:center}.row.end-md{justify-content:flex-end}.row.top-md{align-items:flex-start}.row.middle-md{align-items:center}.row.bottom-md{align-items:flex-end}.row.around-md{justify-content:space-around}.row.between-md{justify-content:space-between}.first-md{order:-1}.last-md{order:1}}@media only screen and (min-width: 91rem){.col-lg{box-sizing:border-box;flex-grow:1;flex-basis:0;max-width:100%;padding:1rem}.col-lg-1{box-sizing:border-box;flex-basis:8.33333%;max-width:8.33333%;padding:1rem}.col-lg-offset-1{margin-left:8.33333%}.col-lg-2{box-sizing:border-box;flex-basis:16.66667%;max-width:16.66667%;padding:1rem}.col-lg-offset-2{margin-left:16.66667%}.col-lg-3{box-sizing:border-box;flex-basis:25%;max-width:25%;padding:1rem}.col-lg-offset-3{margin-left:25%}.col-lg-4{box-sizing:border-box;flex-basis:33.33333%;max-width:33.33333%;padding:1rem}.col-lg-offset-4{margin-left:33.33333%}.col-lg-5{box-sizing:border-box;flex-basis:41.66667%;max-width:41.66667%;padding:1rem}.col-lg-offset-5{margin-left:41.66667%}.col-lg-6{box-sizing:border-box;flex-basis:50%;max-width:50%;padding:1rem}.col-lg-offset-6{margin-left:50%}.col-lg-7{box-sizing:border-box;flex-basis:58.33333%;max-width:58.33333%;padding:1rem}.col-lg-offset-7{margin-left:58.33333%}.col-lg-8{box-sizing:border-box;flex-basis:66.66667%;max-width:66.66667%;padding:1rem}.col-lg-offset-8{margin-left:66.66667%}.col-lg-9{box-sizing:border-box;flex-basis:75%;max-width:75%;padding:1rem}.col-lg-offset-9{margin-left:75%}.col-lg-10{box-sizing:border-box;flex-basis:83.33333%;max-width:83.33333%;padding:1rem}.col-lg-offset-10{margin-left:83.33333%}.col-lg-11{box-sizing:border-box;flex-basis:91.66667%;max-width:91.66667%;padding:1rem}.col-lg-offset-11{margin-left:91.66667%}.col-lg-12{box-sizing:border-box;flex-basis:100%;max-width:100%;padding:1rem}.col-lg-offset-12{margin-left:100%}.row.start-lg{justify-content:flex-start}.row.center-lg{justify-content:center}.row.end-lg{justify-content:flex-end}.row.top-lg{align-items:flex-start}.row.middle-lg{align-items:center}.row.bottom-lg{align-items:flex-end}.row.around-lg{justify-content:space-around}.row.between-lg{justify-content:space-between}.first-lg{order:-1}.last-lg{order:1}}@media only screen and (min-width: 121rem){.col-xl{box-sizing:border-box;flex-grow:1;flex-basis:0;max-width:100%;padding:1rem}.col-xl-1{box-sizing:border-box;flex-basis:8.33333%;max-width:8.33333%;padding:1rem}.col-xl-offset-1{margin-left:8.33333%}.col-xl-2{box-sizing:border-box;flex-basis:16.66667%;max-width:16.66667%;padding:1rem}.col-xl-offset-2{margin-left:16.66667%}.col-xl-3{box-sizing:border-box;flex-basis:25%;max-width:25%;padding:1rem}.col-xl-offset-3{margin-left:25%}.col-xl-4{box-sizing:border-box;flex-basis:33.33333%;max-width:33.33333%;padding:1rem}.col-xl-offset-4{margin-left:33.33333%}.col-xl-5{box-sizing:border-box;flex-basis:41.66667%;max-width:41.66667%;padding:1rem}.col-xl-offset-5{margin-left:41.66667%}.col-xl-6{box-sizing:border-box;flex-basis:50%;max-width:50%;padding:1rem}.col-xl-offset-6{margin-left:50%}.col-xl-7{box-sizing:border-box;flex-basis:58.33333%;max-width:58.33333%;padding:1rem}.col-xl-offset-7{margin-left:58.33333%}.col-xl-8{box-sizing:border-box;flex-basis:66.66667%;max-width:66.66667%;padding:1rem}.col-xl-offset-8{margin-left:66.66667%}.col-xl-9{box-sizing:border-box;flex-basis:75%;max-width:75%;padding:1rem}.col-xl-offset-9{margin-left:75%}.col-xl-10{box-sizing:border-box;flex-basis:83.33333%;max-width:83.33333%;padding:1rem}.col-xl-offset-10{margin-left:83.33333%}.col-xl-11{box-sizing:border-box;flex-basis:91.66667%;max-width:91.66667%;padding:1rem}.col-xl-offset-11{margin-left:91.66667%}.col-xl-12{box-sizing:border-box;flex-basis:100%;max-width:100%;padding:1rem}.col-xl-offset-12{margin-left:100%}.row.start-xl{justify-content:flex-start}.row.center-xl{justify-content:center}.row.end-xl{justify-content:flex-end}.row.top-xl{align-items:flex-start}.row.middle-xl{align-items:center}.row.bottom-xl{align-items:flex-end}.row.around-xl{justify-content:space-around}.row.between-xl{justify-content:space-between}.first-xl{order:-1}.last-xl{order:1}}.col-gutter-lr{padding:0 1rem}.col-no-gutter{padding:0}.show{display:block !important}.row.show{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide{display:none !important}.show-xs{display:block !important}.row.show-xs{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide-xs{display:none !important}@media only screen and (max-width: 40rem){.show-xs-only{display:block !important}.row.show-xs-only{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide-xs-only{display:none !important}}@media only screen and (min-width: 41rem){.show-sm{display:block !important}.row.show-sm{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide-sm{display:none !important}}@media only screen and (min-width: 41rem) and (max-width: 64rem){.show-sm-only{display:block !important}.row.show-sm-only{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide-sm-only{display:none !important}}@media only screen and (min-width: 65rem){.show-md{display:block !important}.row.show-md{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide-md{display:none !important}}@media only screen and (min-width: 65rem) and (max-width: 90rem){.show-md-only{display:block !important}.row.show-md-only{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide-md-only{display:none !important}}@media only screen and (min-width: 91rem){.show-lg{display:block !important}.row.show-lg{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide-lg{display:none !important}}@media only screen and (min-width: 91rem) and (max-width: 120rem){.show-lg-only{display:block !important}.row.show-lg-only{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide-lg-only{display:none !important}}@media only screen and (min-width: 121rem){.show-xl{display:block !important}.row.show-xl{display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important}.hide-xl{display:none !important}}.content-area{float:right;margin:0 0 0 -25%;width:100%}.site-main{margin:0 0 0 0}.site-main .widget-area{float:left;overflow:hidden;width:25%}.site-footer{clear:both;width:100%}.no-sidebar .content-area{float:none;margin-left:auto;margin-right:auto}.no-sidebar .site-main{margin-left:0}#primary-menu{float:right}#primary-menu li{padding:1rem 0rem 0 1rem}#top-menu{list-style-type:none;float:right;font-family:'Sansa Condensed';font-weight:200;font-size:16px;font-size:1rem;margin-right:1rem}#top-menu li{display:inline;margin-left:1rem}.description{font-size:24px;font-size:1.5rem}a{text-decoration:none}.italic{font-style:italic}.red{color:#c5091d}.blue,a.blue:visited{color:#2c90d4}.green{color:#008330}.sand{background-color:#fff4e3}.lichtblauw,.light-blue{background-color:#dff2ff}.lichtgroen,.light-green{background-color:#dae7c7}.light_orange{background-color:#fbdca4}.white{background-color:#fff}.big{font-size:1.5rem}img.responsive{width:100%}section{width:100%}section .section-inner{max-width:1280px;margin:0 auto}section .section-inner.small_col{max-width:1024px}section.excerpt{margin-bottom:1rem}section.excerpt p{font-size:16px;font-size:1rem;margin:1rem}#header .section-inner{max-width:1024px}#masthead .section-inner{padding:0 2rem}.odd{background-color:#fbdca4}.breadcrumbs{padding-left:2rem}.home-item{position:relative;margin-bottom:1rem}.home-item .inline-title{font-family:'Sansa Condensed', sans-serif;font-weight:600;position:absolute;bottom:8px;height:40%;background-color:rgba(0,0,0,0.3);width:100%;left:0;color:#fff;font-size:32px;font-size:2rem;padding-left:2rem;-webkit-transition:background .5s ease-out;-moz-transition:background .5s ease-out;-o-transition:background .5s ease-out;transition:background .5s ease-out}.home-item .inline-title:hover{background-color:rgba(0,0,0,0.6)}.home-item img{width:100%}.home-item#video{background-color:#000;padding:1rem 2rem 2rem}.home-item#video h2{color:#fff;font-family:'Sansa Condensed', sans-serif;font-weight:600;font-size:3rem;margin-left:0;margin-bottom:1rem}.gradient{background-image:linear-gradient(#fff4e3, #fff);margin-top:1rem}.gradient h1{margin:0 1rem}.gradient-blue{background-image:linear-gradient(#dff2ff, #fff);margin-top:1rem}.gradient-blue h2{margin:0 1rem}#bib{padding:1rem;margin-bottom:30px}#bib h2,#bib h3,#bib h4,#bib h5{color:#009de0}#bib hr{background-color:#009de0;height:0.5px}#bib hr:last-child{display:none}.page-template-archive-bib #header .section-inner,.page-template-archive-bib #header .row{background:0 none}.single-bib #header .section-inner,.single-bib #header .row{background:0 none}.single-bib #header .section-inner header,.single-bib #header .row header{margin-left:22%}.single-bib #primary{background-color:#dff2ff}.single-bib #main{margin:0 auto;max-width:1024px}.single-bib #main aside{padding:3rem 2rem 0 0}.single-bib #main aside h2{color:#009de0;margin:0 0 1rem 0}.single-bib #main aside ul{list-style-type:none;padding-left:0;line-height:1.5}.single-bib #main aside p{margin:0}.single-bib #main aside a{color:#000}.single-bib #main aside a.blue{text-decoration:none;color:#009de0}.single-bib #main h1{font-size:2rem;color:#c5091d}.single-bib #main .entry-content{margin-top:0}.single-bib #main h2{font-size:1.2rem;color:#c5091d}.single-bib #main h3,.single-bib #main h4,.single-bib #main h5{color:#009de0}.single-bib #main a{color:#009de0}.single-bib #main .section-inner{padding:0}.single-bib #main .section-inner.small_col{float:right;width:75%;max-width:75%}.center{text-align:center}#main .imagebutton a{font-family:'Sansa Condensed', sans-serif;font-weight:600;font-size:32px;font-size:2rem;position:absolute;bottom:8px;height:40%;background-color:rgba(0,0,0,0.3);width:100%;color:#fff;left:0;padding-left:2rem;margin-bottom:0;border-radius:0;-webkit-transition:background .5s ease-out;-moz-transition:background .5s ease-out;-o-transition:background .5s ease-out;transition:background .5s ease-out}#main .imagebutton a:hover{background-color:rgba(0,0,0,0.6)}p,ol{font-size:80%}.p1{padding:1rem}.pb1{padding-bottom:1rem}.pl1{padding-left:1rem}.pt0{padding-top:0}.p2{padding:2rem}#main a{color:#008330}.hidden{display:none}.wrapper{background-image:url("/wp-content/themes/boerderijenfonds/images/RoodHaakje.png");background-repeat:no-repeat;background-position:right top}#main .wp-block-columns.aanvraagbuttons{margin-bottom:0}#main .wp-block-columns.aanvraagbuttons .wp-block-button{display:block}#main .wp-block-columns.aanvraagbuttons .wp-block-button .wp-block-button__link{border-radius:0;width:100%;text-align:left;font-family:'Sansa Condensed'}#main .wp-block-columns.aanvraagbuttons .wp-block-button.groen a.wp-block-button__link{background-color:#188f44;color:#fff}#main .wp-block-columns.aanvraagbuttons .wp-block-button.grijs a.wp-block-button__link{background-color:#6c6e6e;color:#fff}.metaslider .flexslider .flex-direction-nav li a{right:0}footer{background-color:#5d5f5f;padding-bottom:1rem;color:#fff}footer .section-inner{max-width:1024px}footer h1,footer h2,footer h3,footer h4,footer h5,footer h6,footer a,footer p{color:#fff;margin:0.5rem 0;line-height:1.4}footer h4{font-weight:400}footer h4 a{text-decoration:underline}footer a{text-decoration:none}footer a:visited{color:#fff}footer p{font-size:14.4px;font-size:.9rem}body.single-post #header h1{color:#c5091d;font-size:2rem}body.single-post #header .section-inner{background-image:none}body.single-post #header .section-inner .row{background-image:none}body.single-post .content{background-color:#fbdca4}body.single-post #main .col{padding-top:0}body.single-post #main .col .entry-content{margin-top:0}body.single-post #main .col .entry-content p.date{font-size:80%}body.single-project #header{background-color:#dae7c7;margin-bottom:0;border-bottom:solid 2px #fff;padding-bottom:1rem}body.single-project #primary{background-color:#dae7c7;padding-top:2rem}body.single-project #primary .entry-content{margin-top:0;max-width:875px;margin:0 auto}body.single-project #primary .entry-content h2{color:#000;margin-top:2rem}body.single-project #primary .entry-content .psub h3{margin-bottom:0}body.single-project #primary .entry-content .psub .projectcontent p:first-child{margin-top:0}body.single-project #primary .metaslider{max-width:843px;margin:0 auto}body.page-template-archive .newslist .white,body.page-template-archive-bib .newslist .white{padding-bottom:2rem}body.page-template-archive .newslist .white .item,body.page-template-archive-bib .newslist .white .item{padding-top:2rem;margin-left:1rem}.date{font-size:19.2px;font-size:1.2rem;margin-left:1rem}body.home .date{font-size:16px;font-size:1rem}body.home .actueel a.blue{font-size:1rem;margin-left:1rem}#logo{min-width:200px;width:200px}.post-thumbnail{line-height:0}article{padding-bottom:3rem}.breadcrumbs{display:none}.wp-block-group__inner-container{position:relative}.section-inner.projecten-archive{display:grid;grid-template-columns:repeat(auto-fit, minmax(340px, 1fr));grid-gap:2rem;padding:2rem 5rem 2rem 5rem;font-size:1rem}.section-inner.projecten-archive p{font-size:1rem;margin:0}.mt0{margin-top:0}.ml1{margin-left:1rem}@media (min-width: 40rem){#main .imagebutton a{font-size:20.8px;font-size:1.3rem}.section-inner{padding:0 4rem}h1.entry-title,.breadcrumbs{margin-left:0}.wrapper{background-image:none}.home-item .inline-title{font-size:28.8px;font-size:1.8rem}}@media (min-width: 64rem){#logo{width:300px}#main .imagebutton a{font-size:22.4px;font-size:1.4rem}#header{margin-bottom:1rem}#header .section-inner{background-image:url("/wp-content/themes/boerderijenfonds/images/GroenBoogje.png");background-repeat:no-repeat;background-position:1.4rem bottom}#header .row{background-image:url("/wp-content/themes/boerderijenfonds/images/RoodHaakje.png");background-repeat:no-repeat;background-position:right top}#primary-menu li{padding:1rem 1.5rem 0 1rem}.contact{margin-right:1.5rem}.breadcrumbs{display:block}.home-item .inline-title{font-size:48px;font-size:3rem}section.excerpt p{font-size:24px;font-size:1.5rem}}@media (min-width: 90rem){#main .imagebutton a{font-size:27.2px;font-size:1.7rem}.wp-block-columns h3{margin-top:1rem}.wp-block-columns.no-padding{padding:0 !important}.wp-block-columns.no-margin{margin:0 !important}.wp-block-columns .imageright,.wp-block-columns .imageleft{padding:0;margin:0}.wp-block-columns .imageright figure,.wp-block-columns .imageleft figure{margin:0;line-height:0}}
