h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Sansa Condensed';
	font-weight: 600;
	margin: 0 1rem;
}
h1 {
	@include font-size(3);
}
h2, h3, h5{
	color: $color_red;
}
h3 {
	margin: 1rem 0 1rem 1rem;
}
