

#primary-menu {
    float: right;
    li {
        padding: 1rem 0rem 0 1rem;
    }
}
#top-menu {
    list-style-type: none;
    float: right;
    font-family: 'Sansa Condensed';
    font-weight: 200;
    @include font-size(1);
    margin-right: 1rem;
    li {
        display: inline;
        margin-left: 1rem;
    }
}
.description {
    @include font-size(1.5);
}
a {
    text-decoration: none;
}
.italic {
    font-style: italic;
}
// colors 
.red {
    color: $color_red;
}
.blue, a.blue:visited {
    color: $color_blue;
}
.green {
    color: $color_green;
}
.sand {
    background-color: $color_sand;
}
.lichtblauw, .light-blue {
    background-color: $color_light-blue;
}
.lichtgroen, .light-green {
    background-color: $color_light-green;
}
.light_orange {
    background-color: $color_light-orange;
}
.white {
    background-color: $color_white;
}
.big {
    font-size: 1.5rem;
}
img.responsive {
    width: 100%;
}
section {
    width: 100%;
    .section-inner {
        max-width: 1280px;
        margin: 0 auto;
        &.small_col {
            max-width: 1024px;
        }
    }
    &.excerpt {
        margin-bottom: 1rem;
        p {
            @include font-size(1);
            margin: 1rem;
        }
    }
}
#header .section-inner {
    max-width: 1024px;
}
#masthead {
    .section-inner {
        padding: 0 2rem;
    }
}
.odd {
    background-color: $color_light-orange;
}
.breadcrumbs {
    padding-left: 2rem;
}

.home-item {
    position: relative;
    margin-bottom: 1rem;
    .inline-title {
        font-family: 'Sansa Condensed', sans-serif;
        font-weight: 600;
        position: absolute;
        bottom: 8px;
        height: 40%;
        background-color: $color_transparent-background;
        width: 100%;
        left: 0;
        color: $color_white;
        @include font-size(2);
        padding-left: 2rem;
        -webkit-transition: background .5s ease-out;
        -moz-transition: background .5s ease-out;
        -o-transition: background .5s ease-out;
        transition: background .5s ease-out;
    }
    .inline-title:hover {
        background-color: $color_anim;
    }
    img {
        width: 100%;
    }
    &#video {
        background-color: #000;
        padding: 1rem 2rem 2rem;
        h2 {
            color: #fff;
            font-family: 'Sansa Condensed', sans-serif;
            font-weight: 600;
            font-size: 3rem;
            margin-left: 0;
            margin-bottom: 1rem;
        }
    }
}
.gradient {
    background-image: linear-gradient($color_sand, $color_white);
    margin-top: 1rem;
    h1 {
        margin: 0 1rem;
    }
}
.gradient-blue {
    background-image: linear-gradient($color_light-blue, $color_white);
    margin-top: 1rem;
    h2 {
        margin: 0 1rem;
    }
}
#bib {
    padding: 1rem;
    h2, h3, h4, h5 {
        color: $color_dark-blue;
    }
    hr {
        background-color: $color_dark-blue;
        height: 0.5px;
        &:last-child {
            display: none;
        }
    }
    margin-bottom: 30px;
}
.page-template-archive-bib {
    #header {
        .section-inner, .row {
            background: 0 none;
        }
    }
}

.single-bib {   
    #header {
        .section-inner, .row {
            background: 0 none;
            header {
                margin-left: 22%;
            }
        }
    }
    #primary {
        background-color: $color_light-blue;
    }
    #main {
        margin: 0 auto;
        max-width: 1024px;
        aside {
            padding: 3rem 2rem 0 0;
            h2 {
                color: $color_dark-blue;
                margin: 0 0 1rem 0;
            }
            ul {
                list-style-type: none;
                padding-left: 0;
                line-height: 1.5;
            }
            p {
                margin: 0;
            }
            a {
                color: #000;
                &.blue {
                    text-decoration: none;
                    color: $color_dark-blue;
                }
            }
        }
        h1 {
            font-size: 2rem;
            color: $color_red;
        }
        .entry-content {
            margin-top: 0;
        }
        h2 {
            font-size: 1.2rem;
            color: $color_red;
        }
        h3, h4, h5 {
            color: $color_dark-blue;
        }
        a {
            color: $color_dark-blue;
        }
        .section-inner {
            padding: 0;
            &.small_col {
                float: right;
                width: 75%;
                max-width: 75%;
            }
        }
    }
}
.center {
    text-align: center;
}
#main {
    .imagebutton {
        a {
            font-family: 'Sansa Condensed', sans-serif;
            font-weight: 600;
            @include font-size(2);
            position: absolute;
            bottom: 8px;
            height: 40%;
            background-color: $color_transparent-background;
            width: 100%;
            color: $color_white;
            left: 0;
            padding-left: 2rem;
            margin-bottom: 0;
            border-radius: 0;
            -webkit-transition: background .5s ease-out;
            -moz-transition: background .5s ease-out;
            -o-transition: background .5s ease-out;
            transition: background .5s ease-out;
        }
        a:hover {
            background-color: $color_anim;
        }
    }
    
}


p, ol {
    font-size: 80%;
}
.p1 {
    padding: 1rem;
}
.pb1 {
    padding-bottom: 1rem;
}
.pl1 {
    padding-left: 1rem;
}
.pt0 {
    padding-top: 0;
}
.p2 {
    padding: 2rem;
}
#main a {
    color: $color_green;
}
.hidden {
    display: none;
}
.wrapper {
    background-image: url('/wp-content/themes/boerderijenfonds/images/RoodHaakje.png');
    background-repeat: no-repeat;
    background-position: right top;           

}
#main {

    .wp-block-columns.aanvraagbuttons {
        margin-bottom: 0;
        .wp-block-button {
            display: block;
            .wp-block-button__link {
                border-radius: 0;
                width: 100%;
                text-align: left;
                font-family: 'Sansa Condensed';
            }
            &.groen a.wp-block-button__link {
                background-color: $color_medium-green;
                color: $color-white;
            }
            &.grijs a.wp-block-button__link {
                background-color: $color-dark-grey;
                color: $color-white;
            }
        }
    }
}
/* fix */
.metaslider .flexslider .flex-direction-nav li a {
    right: 0;
}
footer {
    background-color: $color_grey;
    padding-bottom: 1rem;
    color: $color_white;
    .section-inner {
        max-width: 1024px;
    }
    h1, h2, h3, h4, h5, h6, a, p {
        color: $color_white;
        margin: 0.5rem 0;
        line-height: 1.4;
    }
    h4 {
        font-weight: 400;
        a {
            text-decoration: underline;
        }
    }
    a {
        text-decoration: none;
        &:visited {
            color: $color_white;
        }
       }
    p {
        @include font-size(0.9);
    }

}
body.single-post {
    #header {
        h1 {
            color: $color_red;
            font-size: 2rem;
        }
        .section-inner {
            background-image: none;
            .row {
                background-image:none;
            }
        }
    }
    .content {
        background-color: $color_light-orange;
    }
    #main {
        .col {
            padding-top: 0;
            .entry-content {
                margin-top: 0;
                p.date {
                    font-size: 80%;
                }
            }
        }
    }
}
body.single-project {
    #header {
        background-color: $color_light-green;
        margin-bottom: 0;
        border-bottom: solid 2px #fff;
        padding-bottom: 1rem;
    } 
    #primary {
        background-color: $color_light-green;
        padding-top: 2rem;
        .entry-content {
            margin-top: 0;
            max-width: 875px;
            margin: 0 auto;
           h2 {
               color: #000;
               margin-top: 2rem;
           }
           .psub {
               h3 {
                   margin-bottom: 0;
               }
               .projectcontent p:first-child {
                   margin-top: 0;
               }
           }
        }
        .metaslider {
            max-width: 843px;
            margin: 0 auto;
        }
    }
    
}


body.page-template-archive,
body.page-template-archive-bib {
    .newslist {
        .white {
            padding-bottom: 2rem;
            .item {
                padding-top: 2rem;
                margin-left: 1rem;
            }
        }
    }
}

.date {
    @include font-size(1.2);
    margin-left: 1rem;
}
body.home {
    .date {
        @include font-size(1);
    }
    .actueel {
        a.blue {
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
}
#logo {
    min-width: 200px;
    width: 200px; 
}

.post-thumbnail {
    line-height: 0;
}
article {
    padding-bottom: 3rem;
}
.breadcrumbs {
    display: none;
}
.wp-block-group__inner-container {
    position: relative;
}
.section-inner.projecten-archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 2rem;
    padding: 2rem 5rem 2rem 5rem;
    font-size: 1rem;
    p {
        font-size: 1rem;
        margin: 0;
    }
}
.mt0 {
    margin-top: 0; 
}
.ml1 {
    margin-left: 1rem;
}
// xs breakpoint; 640px
@media (min-width: 40rem) { 
    #main .imagebutton a {
        @include font-size(1.3);
    }
    .section-inner {
        padding: 0 4rem;
    }
    h1.entry-title, .breadcrumbs {
        margin-left: 0;
    }
    .wrapper {
        background-image: none;
    }
    .home-item {
        .inline-title {
            @include font-size(1.8);
        }
    }
}
// sm breakpoint; 1024px
@media (min-width: 64rem) {
    #logo {
        width: 300px;
    }
    #main .imagebutton a {
        @include font-size(1.4);
    }
    #header {
        margin-bottom: 1rem;
        .section-inner {
            background-image: url('/wp-content/themes/boerderijenfonds/images/GroenBoogje.png');
            background-repeat: no-repeat;
            background-position: 1.4rem bottom;       
        }
        .row {
            background-image: url('/wp-content/themes/boerderijenfonds/images/RoodHaakje.png');
            background-repeat: no-repeat;
            background-position: right top;           
        
        }
    }
    #primary-menu li {
        padding: 1rem 1.5rem 0 1rem;
    }
    .contact {
        margin-right: 1.5rem;
    }
    .breadcrumbs {
        display: block;
    }
    .home-item .inline-title {
        @include font-size(3);
    }
    section.excerpt p {
        @include font-size(1.5);         
    }
}
// md breakpoint; 1440px
@media (min-width: 90rem) {
    #main .imagebutton a {
        @include font-size(1.7);
    }
    .wp-block-columns {
        h3 {
            margin-top: 1rem;
        }
        &.no-padding {
            padding: 0!important;
        }
        &.no-margin {
            margin: 0!important;
        }
        .imageright, .imageleft{ 
            padding: 0;
            margin: 0;
            figure {
                margin: 0;
                line-height: 0
            }
        }
    }
    
}

