$color__background-body: #fffefc;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: #333;
$color__link-hover: #c5091d;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color_red: #c5091d; 
$color_green: #008330;
$color_medium-green: #188f44;
$color_sand: #fff4e3;
$color_light-blue: #dff2ff;
$color_blue: #2c90d4;
$color_dark-blue: #009de0;
$color_light-green: #dae7c7;
$color_light-orange: #fbdca4;
$color_white: #ffffff;
$color_grey: #5d5f5f;
$color_dark-grey: #6c6e6e;
$color_transparent-background: rgba(0, 0, 0, 0.3);
$color_anim: rgba( 0, 0, 0, 0.6);
$color_transparent-white: rgba( 255, 255, 255, 0.95);
$color_very-dark: #000;