.main-navigation {
	// clear: both;
	// display: block;
	// float: left;
	// width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			background-color: $color__background-body;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				color: $color_very-dark;
			}
			:hover > a,
			.focus > a {
				color: $color_red;
			}

			a:hover,
			a.focus {
				color: $color_red;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		font-family: 'Sansa Condensed', sans-serif;
		font-weight: 400;
		@include font-size(1.2);
		&:hover > a,
		&.focus > a {
		}
		.sub-menu li {
			@include font-size(1.2);
		
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		text-decoration: underline;
	}
}


/* Small menu. */
.menu-toggle {
	display: block;
	background-color: #fff;
	border: 0 none;
}
.main-navigation.toggled ul {
	display: block;
	max-width: 400px;
	position: absolute;
	background-color: $color_transparent_white;
	top: 8rem;
	right: 1rem;
	padding: 1rem;
	z-index: 100;
	ul {
		position: initial;
		box-shadow: none;
		background-color: transparent;

	}
}

@media screen and (min-width: 43rem) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

@media screen and (min-width: 80em) {
	.main-navigation {
		li {
			@include font-size(1.5);
		}
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
